body {
    background-color: rgb(28, 75, 28);
    height: 100%;
    color: white;
    text-align: center;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-transform: uppercase;
}